.bg {
    width: 100%;
}


/* html {
    height: 100%;
} */

.home {
    width: 100%;
    background: linear-gradient( 120deg, rgb(164, 164, 195) 0%, rgb(134, 112, 206) 20%, rgb(126, 184, 202) 70%, rgb(199, 183, 183) 125%);
}


/* body {
    background: linear-gradient( 120deg, rgb(164, 164, 195) 0%, rgb(134, 112, 206) 20%, rgb(126, 184, 202) 70%, rgb(199, 183, 183) 125%);
} */


/* @media screen and (max-width: 600px),
screen and (max-height: 600px) {
    body {
        background-color: lightblue;
    }
    .bg {
        width: 100%;
        height: 100%;
    }
    #name {
        color: black;
    }
} */

.link {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-family: cursive;
    color: chartreuse;
    background-color: rgb(127, 176, 255);
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

#char:hover,
#about:hover,
#home:hover {
    transform: scale(1.05);
}

#home,
#char,
#about,
#name {
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
}

#name {
    width: 220px;
    height: 295px;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin: 20px;
    width: 220px;
    height: 295px;
    border: 4px solid rgb(158, 214, 195);
    border-radius: 2rem;
    /* background: linear-gradient( 120deg, black 0%, rgb(61, 14, 61) 20%, rgb(77, 77, 151) 70%, black 125%); */
}

.card:hover {
    transform: scale(1.09);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.image {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.name {
    font-size: 20px;
}

.github,
.linkedin {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.profile {
    display: flex;
    justify-content: space-evenly;
    margin: 80px;
}

.cagdas {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brandon {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gitname {
    font-family: cursive;
    font-size: 20px;
    font-weight: bolder;
}

img {
    border-radius: 8px;
}

.charname {
    color: white;
    font-family: cursive;
}

.details-page>p {
    font-size: 30px;
    color: black;
    font-family: cursive;
}

h1,
h2 {
    margin-top: 80px;
    text-align: center;
    font-family: cursive;
    color: white;
}